<header id="page-header" style="position: sticky; top: 0; z-index: 999;">
  {{ partial "site-navigation.html" . }}

  <style>
    #page-header {
      display: flex;
      justify-content: center;
      min-height: 125px;
      transition: 250ms;
    }
  </style>

  <script>
    const body = document.getElementById("body");
    const header = document.getElementById("page-header");
    const scrollBoundary = 25; // In pixels

    body.addEventListener("scroll", () => {
      header.classList.toggle("header-floating", body.scrollTop >= scrollBoundary);
    });
  </script>
</header>