<nav role="navigation">
  <div id="nav-main">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      <img id="logo" src="/images/acmlogo.png" alt="ACM Gazi logo" />
    </a>
    <div id="nav-links-div">
      <ul id="nav-links-ul">
        <li><a href="#">Ana Sayfa</a></li>
        <li><a href="#">Etkinlikler</a></li>
        <li><a href="#">Sponsorlar</a></li>
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">İletişim</a></li>
      </ul>
    </div>
    <div style="flex: 1;"></div>
    <div id="nav-socials-div">
      <ul id="nav-socials-ul">
        <li><a href="#"><img src="/images/instagram.png" alt="ACM Gazi Instagram" width="42" height="42" /></a></li>
        <li><a href="#"><img src="/images/linkedin.png" alt="ACM Gazi Linkedin" width="42" height="42" /></a></li>
      </ul>
    </div>
    <button id="nav-menu-button">Menu</button>
  </div>

  <div id="nav-menu" class="nav-menu-hidden">
    <div id="nav-menu-links-div"></div>
      <ul id="nav-menu-links-ul">
        <li><a href="#">Ana Sayfa</a></li>
        <li><a href="#">Etkinlikler</a></li>
        <li><a href="#">Sponsorlar</a></li>
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">İletişim</a></li>
      </ul>
    </div>
  </div>

  <style>
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      padding-top: 20px;
      transition: 250ms;
    }

    #nav-main {
      width: 80%;
      display: flex;
      align-items: center;
      padding: 6px 0;
      border-top: 0.5px solid var(--foreground-primary-dim);
      border-bottom: 0.5px solid var(--foreground-primary-dim);
      transition: 250ms;
    }

    .header-floating nav {
      padding-top: 0;
    }

    .header-floating #nav-main {
      padding: 0;
      border: none;
    }

    #logo {
      height: 75px;
      transition: 250ms;
    }

    .header-floating #logo {
      height: 48px;
    }

    #nav-links-div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);
    }

    .header-floating #nav-links-div {
      transform: translate(-50%, -50%);
    }

    #nav-links-ul, #nav-socials-ul {
      display: flex;
      list-style-type: none;
    }

    #nav-links-ul li, #nav-socials-ul li {
      margin: 0 10px;
    }

    #nav-links-ul li a {
      font-size: 18px;
      text-decoration: none;
      color: var(--foreground-primary-dim);
      transition: 250ms;
    }

    #nav-links-ul li a:hover {
      color: var(--foreground-primary);
    }

    #nav-socials-ul li a img {
      opacity: 50%;
      transition: 250ms;
    }

    .header-floating #nav-socials-ul li a img {
      width: 32px;
      height: 32px;
    }

    #nav-socials-ul li a img:hover {
      opacity: 100%;
    }

    #nav-menu-button {
      display: none;
    }

    #nav-menu {
      display: flex;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--background-primary);
      z-index: 999;
      transition: 250ms;
      transition-timing-function: easeOutQuart;
    }

    .nav-menu-hidden {
      transform: translateY(-100vh);
    }

    @media only screen and (max-width: 1000px) {
      #nav-links-ul, #nav-socials-ul {
        display: none;
      }

      #nav-menu-button {
        display: block;
      }
    }
  </style>

  <script>
    const navMenuButton = document.getElementById("nav-menu-button");
    const navMenu = document.getElementById("nav-menu");

    navMenuButton.onclick = () => {
      navMenu.classList.toggle("nav-menu-hidden");
    }
  </script>
</nav>
