<nav role="navigation">
  <div id="nav-main">
    <a href="{{ .Site.Home.RelPermalink }}" id="logo-link" class="f3 fw2 hover-white no-underline white-90 dib">
      <img id="logo" src="/images/acmlogo.png" alt="ACM Gazi logo" />
    </a>
    <div id="nav-links-div">
      <ul id="nav-links-ul">
        <li><a href="/etkinlikler">Etkinlikler</a></li>
        <li><a href="/haberler">Haberler</a></li>
        <li><a href="/sponsorlar">Sponsorlar</a></li>
        <li><a href="/hakkımızda">Hakkımızda</a></li>
        <li><a href="/iletişim">İletişim</a></li>
      </ul>
    </div>
    <div style="flex: 1;"></div>
    <div id="nav-socials-div">
      <ul id="nav-socials-ul">
        <li><a href="https://www.instagram.com/acmgazi/" target="_blank" rel="noopener noreferrer"><img src="/images/instagram.png" alt="ACM Gazi Instagram" width="42" height="42" /></a></li>
        <li><a href="https://tr.linkedin.com/company/acmgazi" target="_blank" rel="noopener noreferrer"><img src="/images/linkedin.png" alt="ACM Gazi Linkedin" width="42" height="42" /></a></li>
      </ul>
    </div>
    <button id="nav-menu-button">Menu</button>
  </div>

  <div id="nav-menu" class="nav-menu-hidden">
    <div id="nav-menu-header">
      <img id="menu-logo" src="/images/acmlogo.png" alt="ACM Gazi logo" />
      <div style="flex: 1;"></div>
      <button id="nav-menu-close-button">Close</button>
    </div>
    <div id="nav-menu-links-div">
      <ul id="nav-menu-links-ul">
        <li><a href="/etkinlikler">Etkinlikler</a></li>
        <li><a href="/haberler">Haberler</a></li>
        <li><a href="/sponsorlar">Sponsorlar</a></li>
        <li><a href="/hakkımızda">Hakkımızda</a></li>
        <li><a href="/iletişim">İletişim</a></li>
      </ul>
    </div>
    <div id="nav-menu-socials-div">
      <a href="https://www.instagram.com/acmgazi/" target="_blank" rel="noopener noreferrer"><img src="/images/instagram.png" alt="ACM Gazi Instagram" width="42" height="42" /></a>
      <a href="https://tr.linkedin.com/company/acmgazi" target="_blank" rel="noopener noreferrer"><img src="/images/linkedin.png" alt="ACM Gazi Linkedin" width="42" height="42" /></a>
    </div>
  </div>

  <style>
    nav {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      padding-top: 20px;
      transition: 250ms;
    }

    #nav-main {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 6px 0;
      border-top: 0.5px solid var(--foreground-primary-dim);
      border-bottom: 0.5px solid var(--foreground-primary-dim);
      transition: 250ms;
    }

    .header-floating {
      z-index: 999;
    }

    .header-floating nav {
      padding-top: 0;
      height: 60%;
      background-color: var(--background-primary-dim);
    }

    .header-floating #nav-main {
      padding: 0;
      border: none;
    }

    #logo {
      height: 75px;
      transition: 250ms;
    }

    .header-floating #logo {
      height: 48px;
    }

    #nav-links-div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);
      transition: 200ms;
    }

    .header-floating #nav-links-div {
      transform: translate(-50%, -100%);
    }

    #nav-links-ul, #nav-socials-ul {
      display: flex;
      list-style-type: none;
    }

    #nav-links-ul li, #nav-socials-ul li {
      margin: 0 10px;
    }

    #nav-links-ul li a {
      display: block;
      position: relative;
      font-size: 18px;
      text-decoration: none;
      color: var(--foreground-primary);
      transition: 250ms;
    }

    #nav-links-ul li a::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: var(--foreground-primary);
      opacity: 0;
      transition: 250ms;
    }

    #nav-links-ul li a:hover {
      color: var(--foreground-primary);
    }

    #nav-links-ul li a::after {
      opacity: 1;
      transform: scale(0);
      transform-origin: center;
    }
    
    #nav-links-ul li a:hover::after,
    #nav-links-ul li a:focus::after {
      transform: scale(1);
    }

    #nav-socials-ul li a::after, #logo-link::after {
      display: none;
    }

    #nav-socials-ul li a img {
      opacity: 50%;
      transition: 250ms;
    }

    .header-floating #nav-socials-ul li a img {
      width: 32px;
      height: 32px;
    }

    #nav-socials-ul li a img:hover {
      opacity: 100%;
    }

    #nav-menu-button {
      display: none;
    }

    #nav-menu {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--background-primary);
      z-index: 9999;
      opacity: 1;
      transition: 250ms;
      transition-timing-function: ease-out;
    }

    .nav-menu-hidden {
      transform: translateY(-100vh);
      opacity: 0 !important;
    }

    #nav-menu-header {
      display: flex;
      padding: 40px;
    }

    #menu-logo {
      height: 75px;
    }

    #nav-menu-links-ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
    }

    #nav-menu-links-ul li {
      padding: 20px;
      font-size: 24px;
      text-align: center;
    }

    #nav-menu-links-ul li a {
      text-decoration: none;
      color: var(--foreground-primary);
    }

    #nav-menu-socials-div {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    #nav-menu-socials-div a {
      padding: 15px;
    }

    @media only screen and (max-width: 1000px) {
      #nav-links-ul, #nav-socials-ul {
        display: none;
      }

      #nav-menu-button {
        display: block;
      }
    }
  </style>

  <script>
    const navMenu = document.getElementById("nav-menu");
    
    const navMenuButton = document.getElementById("nav-menu-button");
    navMenuButton.onclick = () => {
      navMenu.classList.toggle("nav-menu-hidden");
    }
    
    const navMenuCloseButton = document.getElementById("nav-menu-close-button");
    navMenuCloseButton.onclick = () => {
      navMenu.classList.toggle("nav-menu-hidden");
    }
  </script>
</nav>
