{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div style="display: flex; justify-content: center;">
    <article id="ayazjam-main">
        <img id="ayazjam-logo" alt="ayazjam_logo" src="/media/etkinlikler/Logo1.png" width="450" />
        <p id="ayazjam-date-text" style="font-size: 32px; margin-bottom: 7px; text-align: center;">🗓️ &#8202 20-21-22 Aralık</p>
        <p id="ayazjam-date-text" style="font-size: 32px; margin-top: 7px; text-align: center;">📍 Ankara Teknopark - Nar Kuluçka Merkezi
        </p>

        <a href="https://forms.gle/N4Eq2LSBudwmksvf8" target="_blank" rel="noopener noreferrer" id="ayazjam-join-button">Hemen Başvur!</a>

        <div class="ayazjam-body-div">
            <h2>AyazJam Nedir?</h3>
                <p class="ayazjam-body-text">
                    🖥️ ACM Gazi topluluğu tarafından 20-22 Aralık tarihlerinde gerçekleşecek olan bir 🎮 "game jam"dır.
                    Yarışmacı takımlar ⏰ 48 saat süre içerisinde önceden belirlenmiş olan temaya uygun oyun
                    geliştirecekler ve geliştirilen oyunlar 🖌️ temaya uygunluk, ✨ özgünlük, 🎨 yaratıcılık gibi birçok
                    faktör hesaba katılarak oyun geliştirme sektörüne hâkim 🤵 jüriler tarafından değerlendirilip
                    belirlenen 🏆 ödüller yarışmacılara takdim edilecektir.
                </p>
        </div>

        <div class="ayazjam-body-div">
            <h2>AyazJam Nasıl Bir Etkinlik Olacak?</h3>
                <p class="ayazjam-body-text">
                    AyazJam teknopark anlaşmaları ile gerçekleşecek olup fiziksel özellik taşıyacaktır. Kahoot
                    yarışmaları, çeşitli bilmeceler gibi buz kırma etkinlikleri ile takımların kaynaşması sağlanacak ve
                    yarışmanın daha eğlenceli hale gelmesi sağlanacaktır. Yarışma anında sektörde görev alan 🤵 mentor
                    kişilerin yardımı sağlanarak az deneyime sahip olan yarışmacılara kolaylık sağlanacak ve gamejamin
                    devamlılığı sağlanmış olacaktır. Takımlar yaptıkları oyunları jüriye sunacaklar bu sayede fiziksel
                    ortamın imkanlarından daha iyi faydalanılmış olacak.
                    Gamejam paydaşlarımızın katkılarıyla yarışmacı arkadaşlara 🍔 yiyecek, ☕ içecek, ve 🍫 atıştırmalık
                    ihtiyaçları sağlanacaktır. Kazanan takımları motive edecek 🥇 ödüllerin ayarlanması paydaşlarımız
                    tarafından yapılacaktır.
                </p>
        </div>

        <div class="ayazjam-body-div">
            <h2>Sponsorlarımız</h3>
                <div id="ayazjam-sponsorlar-links">
                    <a src="https://www.taleworlds.com/" target="_blank" rel="noopener noreferrer">
                        <img alt="taleworlds_logo" src="/media/sponsorlar/taleworlds_white.png" />
                    </a>
                    <a src="http://www.teknoparkankara.com.tr/index.html" target="_blank" rel="noopener noreferrer">
                        <img alt="teknopark_ankara_logo" src="/media/sponsorlar/teknopark_ankara_white.png" />
                    </a>
                </div>
        </div>
    </article>
</div>

<style>
    a {
        position: unset;
    }

    #ayazjam-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    #ayazjam-logo {
        margin-top: 65px;
        margin-bottom: 25px;
    }

    #ayazjam-join-button {
        font-size: 20px;
        padding: 15px 35px;
        margin-top: 50px;
        margin-bottom: 75px;
        border-radius: 999px;
        border: 1px solid var(--foreground-primary);
        color: var(--foreground-primary);
        background-color: var(--accent);
        box-shadow: 0px 0px 50px 7px rgba(10, 95, 186, 0.75);
        text-decoration: none;
        transition: 250ms;
    }

    #ayazjam-join-button:hover {
        color: var(--background-primary);
        background-color: var(--foreground-primary);
        box-shadow: 0px 0px 100px 15px rgba(10, 95, 186, 0.75);
    }

    #ayazjam-join-button::after {
        display: none;
    }

    .ayazjam-body-div {
        margin-bottom: 50px;
    }

    .ayazjam-body-div h2 {
        font-size: 32px;
        text-align: center;
    }

    .ayazjam-body-div p {
        font-size: 22px;
        line-height: 1.4;
        text-align: center;
    }

    #ayazjam-sponsorlar-links {
        display: flex;
    }

    #ayazjam-sponsorlar-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    #ayazjam-sponsorlar-links a img {
        transform: scale(0.75);
    }

    @media only screen and (max-width: 1000px) {
        #ayazjam-main {
            width: 75%;
        }

        #ayazjam-logo {
            width: 120%;
        }

        #ayazjam-date-text {
            font-size: 26px !important;
        }

        .ayazjam-body-div p {
            font-size: 18px;
        }

        #ayazjam-sponsorlar-links {
            flex-direction: column;
        }

        #ayazjam-sponsorlar-links a img {
            width: 100%;
        }
      }
</style>
{{ end }}