{{ define "main" }}
    <div id="home-section" class="fade-in settle-up">
      <h2 id="upper-title">Association for Computing Machinery</h2>
      <h1 id="title">ACM GAZİ</h1>
      <h3 style="color: var(--foreground-primary-dim)">#THETIMEISNOW</h3>

      <a href="https://chat.whatsapp.com/IRS4PGZw9FmDqdhC42Fd8m" target="_blank" id="join-button">Aramıza Katıl</a>
    </div>

    {{/* SPONSORLAR BÖLÜMÜ*/}}
    {{ $sponsorlar_name := "sponsorlar" }}
    {{ $sponsorlar := where $.Site.RegularPages "Section" $sponsorlar_name }}
    {{ $sponsorlar_count := len $sponsorlar }}

    {{ if ge $sponsorlar_count 1 }}
      <div class="post-section-wrapper" id="sponsorlar">
        {{ with $.Site.GetPage "section" $sponsorlar_name }}
            <h1 class="post-section-header">
              Sponsorlarımız
            </h1>
          {{ end }}
        <section class="sponsors-section">
          {{ range ($sponsorlar) }}
            <div class="w-100 mb4">
              {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
                {{ if $featured_image }}
                  <div>
                    <img src="{{ $featured_image }}" alt="image from {{ .Title }}">
                  </div>
                {{ end }}
            </div>
          {{ end }}
        </section>
      </div>
    {{ end }}

    {{/* ETKİNLİKLER BÖLÜMÜ*/}}
    {{ $etkinlikler_name := "etkinlikler" }}
    {{ $etkinlikler := where $.Site.RegularPages "Section" $etkinlikler_name }}
    {{ $etkinlikler_count := len $etkinlikler }}

    {{ if ge $etkinlikler_count 1 }}
      <div class="post-section-wrapper" id="etkinlikler">
        {{ with $.Site.GetPage "section" $etkinlikler_name }}
            <h1 class="post-section-header">
              Etkinlikler
            </h1>
          {{ end }}
        {{ $etkinlikler_posts := $.Param "recent_posts_number" | default 3 }}
        <section class="post-section">
          {{ range (first $etkinlikler_posts $etkinlikler) }}
            <div class="w-100 mb4 glass-card">
              {{ .Render "summary-with-image" }}
            </div>
          {{ end }}
        </section>
        {{ if ge $etkinlikler_count (add $etkinlikler_posts 1) }}
        <section class="post-section">
          {{ with $.Site.GetPage "section" $etkinlikler_name }}
            <a href="{{ .RelPermalink }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
          {{ end }}
          </section>
        {{ end }}
      </div>
    {{ end }}

    {{/* HABERLER BÖLÜMÜ*/}}
    {{ $haberler_name := "haberler" }}
    {{ $haberler := where $.Site.RegularPages "Section" $haberler_name }}
    {{ $haberler_count := len $haberler }}

    {{ if ge $haberler_count 1 }}
      <div class="post-section-wrapper">
        {{ with $.Site.GetPage "section" $haberler_name }}
            <h1 class="post-section-header">
              Haberler
            </h1>
          {{ end }}
        {{ $n_haberler_posts := $.Param "recent_posts_number" | default 3 }}
        <section class="post-section">
          {{ range (first $n_haberler_posts $haberler) }}
            <div class="w-100 mb4 glass-card">
              {{ .Render "summary-with-image" }}
            </div>
          {{ end }}
        </section>
      </div>
    {{ end }}

    <!-- //////////////////////////////////////////// -->
<!--
    {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
    {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
    
    {{/* Check to see if the section is defined for ranging through it */}}
    {{range ($mainSections)}}
    {{/* Derive the section name  */}}
    {{ $section_name := . }}
    {{/* Create a variable with that section to use in multiple places. */}}
    {{ $section := where $.Site.RegularPages "Section" "in" $section_name }}
    {{ $section_count := len $section }}
    {{ if ge $section_count 1 }}
      <div class="pa3 pa4-ns w-100 w-70-ns center">
        {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
        {{ with $.Site.GetPage "section" $section_name }}
            <h1 class="flex-none">
              {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
            </h1>
          {{ end }}

        {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

        <section class="w-100 mw8">
          {{/* Range through the first $n_posts items of the section */}}
          {{ range (first $n_posts $section) }}
            <div class="relative w-100 mb4">
              {{ .Render "summary-with-image" }}
            </div>
          {{ end }}
        </section>

        {{ if ge $section_count (add $n_posts 1) }}
        <section class="w-100">
          <h1 class="f3">{{ i18n "more" }}</h1>
          {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
          {{ range (first 4 (after $n_posts $section))  }}
            <h2 class="f5 fw4 mb4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "ml3" "mr3" }}">
              <a href="{{ .RelPermalink }}" class="link black dim">
                {{ .Title }}
              </a>
            </h2>
          {{ end }}

          {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
          {{ with $.Site.GetPage "section" $section_name }}
            <a href="{{ .RelPermalink }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
          {{ end }}
          </section>
        {{ end }}

      </div>
    {{ end }}
  {{ end }}
   -->

  <style>
    #home-section {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    #upper-title {
      margin: 0;
      margin-top: -100px;
      text-shadow: 0px 0px 30px rgba(10,95,186,0.75);
      text-align: center;
    }
  
    #title {
      margin: 0;
      font-size: 128px;
      letter-spacing: 8px;
      text-shadow: 0px 0px 40px #0A60BA, 0px 0px 160px #0A60BA, 0px 0px 360px #0A60BA;
      text-align: center;
    }
  
    #join-button {
      position: unset;
      font-size: 20px;
      padding: 15px 35px;
      border-radius: 999px;
      border: 1px solid var(--foreground-primary);
      color: var(--foreground-primary);
      background-color: var(--background-primary-dim);
      text-decoration: none;
      transition: 250ms;
    }

    #join-button:hover {
      color: var(--background-primary);
      background-color: var(--foreground-primary);
      box-shadow: 0px 0px 100px 15px rgba(10,95,186,0.75);
    }

    #join-button::after {
      display: none;
    }

    .post-section-wrapper {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sponsors-section {
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .sponsors-section img {
      margin: 0 30px;
      width: 200px;
      height: 100px;
      object-fit: cover;
      filter: grayscale(100%) contrast(0%) brightness(150%);
      transition: 250ms;
    }

    .sponsors-section img:hover {
      filter: grayscale(100%) contrast(0%) brightness(200%);
    }

    .post-section {
      width: 50%;
      color: var(--foreground-primary);
    }

    .post-section-header {
      text-align: center;
      font-size: 48px;
    }
  </style>
{{end}}
    
