{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="fade-in settle-up flex-l mt2 mw8 center">
    <article class="center cf ph3 pb5 ph4-ns">
      <header>
        <h1 class="f1 tc pv4" id="title">
          {{ .Title }}
        </h1>
      </header>
      <div class="content-div glass-card nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div>
    </article>

    <style>
      .content-div img {
        max-width: 100%;
        height: auto;
        display: block;
      }

      @media only screen and (max-width: 1000px) {
        #title {
          padding: 0 !important;
        }
      }
    </style>
  </div>
{{ end }}
