{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf ph3 ph4-ns">
      <header>
        <h1 class="f1 tc pv4">
          {{ .Title }}
        </h1>
      </header>
      <div class="content-div nested-copy-line-height lh-copy pb5 f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div>
    </article>

    <style>
      .content-div img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    </style>
  </div>
{{ end }}
