/* Font importları */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* Global style değişkenleri */
:root {
  --foreground-primary: #ffffff;
  --foreground-primary-dim: rgba(255, 255, 255, 0.5);
  --foreground-link: #3081d8;

  --background-primary: #001221;
  --background-primary-dim: #0012217e;
  --background-secondary: #000000;
  --background-secondary-dim: #0000007e;

  --accent: #0A3E74;
}

/* Temel ayarlar */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

body {
  color: var(--foreground-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  color: var(--foreground-primary);
}

a {
  position: relative;
  text-decoration: none;
  color: var(--foreground-link);
  transition: 250ms;
}

a:hover {
  color: var(--foreground-link);
}

a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--foreground-link);
  opacity: 0;
  transition: transform 250ms, opacity 250ms;
}

a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: left;
}

a:hover::after,
a:focus::after {
  transform: scale(1);
}

.hidden {
  display: none;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a {
  overflow-wrap: break-word;
}

.glass-card {
  padding: 18px 40px;
  background: var(--background-primary-dim);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes settleUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes settleDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.settle-up {
  opacity: 0;
  animation: settleUp 0.8s ease-out forwards;
}

.settle-down {
  opacity: 0;
  animation: settleDown 0.8s ease-out forwards;
}