/* Font importları */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* Global style değişkenleri */
:root {
  --foreground-primary: #ffffff;
  --foreground-primary-dim: rgba(255, 255, 255, 0.5);

  --background-primary: #001221;
  --background-primary-dim: #0012217e;
  --background-secondary: #000000;
  --background-secondary-dim: #0000007e;

  --accent: #0A3E74;
}

/* Temel ayarlar */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

body {
  color: var(--foreground-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, p {
  color: var(--foreground-primary);
}

.hidden {
  display: none;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a {
  overflow-wrap: break-word;
}