{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column items-center">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        <div>
          <a href="{{.RelPermalink}}">
            <img src="{{ $featured_image }}" alt="image from {{ .Title }}" class="summary-img">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if $featured_image }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr3-ns" "pl3-ns" }}{{ end }}">
        <h1 class="mt0 lh-title">
          <a href="{{.RelPermalink}}" class="color-inherit link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.RelPermalink}}">Tamamını oku...</a>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>

  <style>
    .summary-img {
      width: 256px;
      height: auto;
      object-fit: cover;
    }
  </style>
</article>
